<?xml version="1.0"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json" />
        </staticContent>
        <httpErrors errorMode="Custom" defaultResponseMode="File" >
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" path="index.html" />
        </httpErrors>
        <caching>
            <add extension=".js" policy="DontCache" kernelCachePolicy="DontCache" />
        </caching>            
    </system.webServer>
</configuration> 