$font-color: #000;
$header-background: #2c3e50;
$header-color: #fff;

$footer-color: #888;
$footer-color-active: #fff;
$footer-background: #ccc;
$footer-background-active: #aaa;

$groups-header-color: #66add6;
$group-header-color: #ccc;

$favorite-color-active: gold;
$favorite-color: #ccc;

$item-color: #000;
$item-level-1-color: #555;
$item-level-2-color: #999;

$track-color: #fff;

$padding: 0.4rem;

$image-placeholder: $groups-header-color;